body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.usuarios {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='text'],
input[type='password'] {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #45a049;
}

.erro {
  color: red;
  margin-top: 5px;
}